<link rel="stylesheet" href="/css/_header.css">

<header>
    <nav class="navbar fixed-top navbar-light bg-light nav-bar">
        <div class="container-fluid">
        <div>
          <a class="navbar-brand" href="#" style="font-size:x-large;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            <i class="fa-regular fa-clock"></i>
            Habit Tracker
          </a>
        </div>
          <div>
          <ul class="nav-list">
            <%if (locals.user) {%>
                <li id="home-icon-placing">
          
                </li>
                <li ><span id="name-tag"><%=user.name%></span></li>
                <li>
                    <a class="btn btn-sm btn-outline-secondary" href="/users/sign-out"><span class="sign-in-out-tag">sign out</span></a>
                </li>
            <%}else{%>
                <li class="sign-in-out">
                    <a  class="btn btn-sm btn-outline-secondary" href="/users/sign-in"><span class="sign-in-out-tag">sign in</span></a>
                </li>
                <li class="sign-in-out">
                    <a class="btn btn-sm btn-outline-secondary" href="/users/sign-up"><span class="sign-in-out-tag">sign up</span></a>
                </li>
            <%}%>
            
          </ul>
          </div>
        </div>
        
      </nav>
   
</header>