<!--Home page-->
<link rel="stylesheet" href="/css/home.css">

<h1 id="main-heading">Habit Tracker</h1>
<div id="get-started">
<%if(locals.user) {%>
    <a href="/users/daily-habit">Get Started</a>
<%}else {%>
    <a href="/users/sign-up">Get Started</a>
<%}%>
</div>