#get-started{
    margin-top: 5%;
    border: 1px solid black;
    width: 20vw;
    height: 10vh;
    margin-left: 40%;
    text-align: center;
    padding-top: 8px;
    border-radius: 10px;
    color:lightsteelblue;
    background:#1A5276;
}
#get-started:hover {
    -webkit-transform:scale(0.9);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
    -ms-transform:scale(1.1);
  }
  
#get-started > a{
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    font-size: larger;
}
#main-heading{
    font-size: 4rem;
    margin-top: 7%;
    margin-left: 38%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}